p {
    font-size: 20px;
    //color: #f3ef07;
}

a   {
    color: blue;
}

.dog-name.roger#roger {//p.dog-name tag with class or id
    color: #e9f504fb;
}

#dog-name {//p#dog-name

    color: #f3eb04;
}


//page 19
p, 
.dog-name {
    color: #ffff00;
}

//page 20
p {
    color: #ff0;
}

